body {
    background: #bdbdbd;
    margin: 0;
    font-family: 'Handlee', cursive;
    
}
#header {
    background: white;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}


#photos {
   
    
  
    width: 640px;
    margin: 60px auto;
    
  }
.photo1{
    background-color: white;
    position: center;
    margin-bottom: 30px;
    
}
.photo2{
    background-color: white;
    position: center;
    margin-bottom: 30px;
}
.photo3{
    background-color: white;
    position: center;
    margin-bottom: 30px;
}
.phototext {
    font-weight: bolder;
    padding: 10px 25px;
    display: inline-block;
    
}

.postHeaderSpan {
    float: right;
    color: grey;
    margin: 10px 10px 10px 0;
}
p{
    margin-left: 20px;
    margin-top: 10px;
    padding: 0 30px 10px 10px;
}
